/.idea/
/.vs/
/.vscode/
logs/

#Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# Dependency directories
node_modules
package-lock.json

# For mac users
*.DS_Store

# ignore env configs
/.env*